name: Running the shell Script

on:
  push:
    branches:
      - main

jobs:
  run-script:
    runs-on: ubuntu-latest

    steps:
      - name: Code Checkout
        uses: actions/checkout@v3
      
      - name: Make the script Executable
        run: chmod +x ./scripts/test.sh

      - name: Running the Script
        run: bash ./scripts/test.sh
